@import "../../styles/variables"

.main
  display: flex
  flex-direction: column
  gap: 100px

.subheader
  &__wrapper
    @extend %flex-bw
    gap: 15px
  &__img
    @extend %img

.name
  &__title
    font-family: 'Garamond', serif
    font-size: 4.37em
    text-align: center
  &__subtitle
    font-family: 'Core Sans N'
    font-size: 1.84em
    text-align: center
    position: relative
    display: inline-block
  &__eng
    position: absolute
    bottom: -300%
    right: -25vw
    width: 21vw
.about
  &__bottom-text
    padding: 0 55px
    font-family: 'Garamond'
    font-size: 1.73em
    line-height: 1.12em
    text-align: center
    position: relative
  &__name_eng
    position: absolute
    left: 70%
    top: -115%
    width: 29vw
  &__quotes
    position: absolute
    top: -40%
    left: 50%
  &__footer
    background-color: $bc
    height: 350px

.services
  &__title
    @extend %main-title
  &__descr
    height: 665px
    background: #D9D9D9
    position: relative
  &__eng
    position: absolute
    top: -5vh
    right: -26vw
    width: 17vw
.portfolio
  &__title
    @extend %main-title
    position: relative
  &__eng
    position: absolute
    top: -5vh
    right: -23vw
    width: 16.5vw
.reviews
  &__title
    @extend %main-title
    position: relative
  &__eng
    position: absolute
    top: -5vh
    right: -28vw
    width: 19.5vw
  &__carousel
    position: relative
    &_left
      padding: 5px 7px 5px 4px
      height: 35px
      width: 35px
      position: absolute
      left: 0
      bottom: 50%
      cursor: pointer
      background-color: $bc
      border-radius: 100%
      transition: all .3s ease-in-out
      &:hover
        opacity: .7
        left: -.5%
    &_rigth
      padding: 5px 7px 5px 4px
      height: 35px
      width: 35px
      border-radius: 100%
      position: absolute
      right: 0
      bottom: 50%
      transform: rotate(180deg)
      cursor: pointer
      background-color: $bc
      transition: all .3s ease-in-out
      &:hover
        opacity: .7
        right: -.5%
  &__carousel_wrapp
    justify-content: center
    align-items: center
    min-height: 600px
    height: 100%
    display: flex
  &__text
    max-width: 350px
    text-align: left
    @extend %main-text
  &__img
    @extend %img
    max-width: 350px
    &_wrapp
      height: 100%
      width: 45%


.blog
  padding: 54px 20px 100px
  min-height: 730px
  background-color: $bc
  color: #020202
  &__title
    @extend %main-title
    position: relative
  &__eng
    position: absolute
    top: -2vh
    right: -29vw
    width: 13.5vw
  &__contents
    height: 100%
    min-height: 420px
    display: grid
    grid-template-columns: repeat(3, 1fr)
    gap: 75px
  &__img
    background-color: #D9D9D9
