@import "../../styles/variables"

.service
  margin-bottom: 70px
  height: fit-content
  transition: all 1s ease
  &__title
    @extend %service__title
    position: relative
    &_arrow
      position: absolute
      top: 25%
      right: -150px
      transition: all .3s ease-in-out
    &_wrapper
      cursor: pointer
      text-align: left
  &__descr
    @extend %service__descr
    &_close
      cursor: pointer
      transition: all 0.3s ease-in-out
      position: absolute
      right: 15px
      top: 15px
      height: 30px
      display: flex
      &:hover
        opacity: .7
    &_text
      padding-bottom: 20px
    &_price
      transition: all 1s ease-in-out
      position: relative
      opacity: 1
      left: 0
.price
  font-family: 'Garamond', sans-serif
  font-size: 3.57em
  &__wrapper
    display: flex
    align-items: baseline
    justify-content: center
    padding: 15px 0
    position: relative
    overflow: hidden
  &__condition
    font-family: 'Garamond', sans-serif
    font-size: 2em
    padding: 0 20px
.hidden
  //opacity: 0
  padding: 0
  font-size: 0
  height: 0
  overflow: hidden