@import "../../styles/variables"

.service
  display: flex
  flex-direction: column
  justify-content: space-around
  text-align: left
  cursor: pointer
  transition: all .3s ease-in-out
  overflow: hidden
  min-height: 100px
  &:hover
    transform: scale(1.02)
    .service__title_arrow
      max-width: 60px
    .service__title_img
      transform: scale(1.03)
  &__grid
    display: grid
    grid-template-columns: repeat(3, 1fr)
    column-gap: 37px
    row-gap: 25px
    margin-top: 5%
    align-items: end
    padding: 0 5%
    position: relative
  &__subtitle
    font-size: .8em
    padding: 0 25px 0 0
    display: inline-block
    line-height: 0
    font-family: 'Open Sans', sans-serif
    &_wrapp
      display: flex
      align-items: center
  &__title
    @extend %nav
    line-height: 1em
    &_img
      width: 100%
      max-height: 300px
      object-fit: fill
      transition: all .5s ease-in-out
    &_arrow
      max-width: 50px
      transition: all .3s ease-in-out
    &_wrapper
      cursor: pointer
      text-align: left
  &__descr
    @extend %service__descr
    &_close
      cursor: pointer
      transition: all 0.3s ease-in-out
      position: relative
      right: -48%
      top: -2%
      height: 3%
      width: 4%
      display: flex
      &:hover
        opacity: .7
        top: -2.5%
    &_text
      padding: 20px 0
    &_price
      transition: all .6s ease-in-out
      position: relative
      opacity: 1
      left: 0
      margin-top: 5%
.price
  font-family: 'Garamond', sans-serif
  font-size: 1.51em
  &__wrapper
    display: flex
    align-items: baseline
    justify-content: center
    padding: 15px 0
    position: relative
    overflow: hidden
  &__condition
    font-family: 'Garamond', sans-serif
    font-size: 1em
    padding: 0 20px
.hidden
  top: -150%
  opacity: 0
  padding: 0
  font-size: 0
  height: 0
  //display: none

.relative
  position: relative

.html_hidden
  overflow: hidden

#img
  grid-column: 2/3
  grid-row: 1/5
  height: 90%
  margin: auto 0
