@import "../../styles/variables"

.header
  display: flex
  align-items: center
.nav
  &__links
    @extend %flex-bw
    list-style: none
    padding: 4vw 0
    margin: 0
  &__link
    @extend %nav
    transition: all .3s ease-in-out
    &:hover
      color: $bc_hover
.active_link
  @extend %nav
  text-decoration: underline
  color: $bc_hover
