body {
  margin: 0;
  font-family: 'Cormorant Garamond', 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #181818;
  color: #BBB573;
  box-sizing: border-box;
  font-size: 19px;
  width: 100%;
  overflow-x: hidden;
  max-width: 100%;
  height: 100%;
}

html {
  width: 100%;
  max-width: 100%;
  height: 100%;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

.container {
  max-width: 1500px;
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
  position: relative;
}

.center_container {
  max-width: 940px;
  text-align: center;
  margin: 0 auto;
  padding: 0 20px;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

h1 {
  text-align: center;
  font-weight: 600;
  font-size: 22px;
}