body {
  margin: 0;
  font-family: 'Myriad Pro', 'Garamond', 'Core Sans N', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #181818;
  color: #BBB573;
  box-sizing: border-box;
  font-size: 19px;
  width: 100%;
  overflow-x: hidden;
  max-width: 100%;
}

html{
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

.container {
  max-width: 1500px;
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
}

.center_container {
  max-width: 900px;
  text-align: center;
  margin: 0 auto;
  padding: 0 15px;
}