body {
  margin: 0;
  font-family: 'Myriad Pro', 'Garamond', 'Core Sans N', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #181818;
  color: #BBB573;
  box-sizing: border-box;
  font-size: 19px;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}