@import "../../styles/variables.sass"
.portfolio__categoria
  gap: 80px
  &_links
    display: flex
    align-items: center
    justify-content: space-between
    gap: 2.5%
    padding-bottom: 10%
  &_link
    font-family: 'Garamond'
    font-size: 1.42em
    line-height: 1.11em
    text-align: center
    color: $bc
    transition: all .3s ease-in-out
    cursor: pointer
    &:hover
      color: #7d7937
